name: test

on: 
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - uses: leafo/gh-actions-lua@v8.0.0
      with:
        luaVersion: "5.1.5"

    - uses: leafo/gh-actions-luarocks@v4.0.0

    - name: install system dependencies
      run: |
        sudo apt-get -y install expat

    - name: install luarocks dependencies
      run: |
        luarocks install luafilesystem
        luarocks install luaexpat

    - name: test
      run: |
        lua validate-syntax.lua .
